name: Node CI
permissions:
  contents: read

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [20.19.x, 22.19.x, 24.8.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: npm install
      run: |
        npm ci
      env:
        CI: true
    - name: kiigame - typecheck, test and build
      run: |
        cd kiigame
        npm run typecheck
        npm test
        npm run build --if-present
        cd ..
      env:
        CI: true
    - name: lätkäzombit - typecheck, test and build
      run: |
        cd latkazombit
        npm run typecheck
        npm test
        npm run build-dev --if-present
      env:
        CI: true
